/*css for page header*/
body{
  background-color: #F5F5F5;
}
.titleBar{
  padding: 2em;
  background-color:#e8dff5;
  color: black;
  text-align: center;
}
.navigation li{
  float: left;
  width: 2em;
  padding: 1em 4em;
  list-style-type: none;
  text-decoration: none;
}
.navigation li:hover{
  background-color: black;
}
.navigation{
  margin-bottom: 3em;
  width: 100%;
  height: 3em;
  background-color: #fce1e4;
}

input{
  padding: .2em .2em;
  margin-bottom: .5em;
  float: left;
}
input[type=text]{
  width: 95%;
}
select{
  float: left;
}
label{
  float: left;
  width: 100%;
}
.billingForm{
  width: 50%;
  float: left;
  background-color:#fcf4dd;
}
.shippingForm{
  float: left;
  display: block;
  width: 40%;
  background-color:#fcf4dd;
  margin-left:10%;

}

.cartPreview{
  background-color: #fcf4dd;
  float: right;
  width:30%;
  margin-right: 10%;
}
.cartPreview h2{
  background-color: #fce1e4;
  color: white;
}
.cartPreview img{
  float: left;
}
.cartPreview p{
  display: block;
  font-size: 1.5em;
}
