/*css for page header*/
body{
  background-color: #F0EDEC;
}
.titleBar{
  padding: 1em;
  background-color:#AA80B8;
  color: white;
  text-align: center;
  margin-bottom: .5em;
}
input{
  width: 100%;
  padding: .2em .2em;
  margin-bottom: .5em;
}

.cartPreview{
  width: 20%;
  float: left;
  display: block;
  background-color: #FDF0CB;
}
.shippingForm{
  float: left;
  display: block;
  width: 50%;
  margin-right: 10%;
}
.cartPreview img{
  width: 5em;
  height: 5em;
}
